<ion-list>
  <ion-item>
    <ion-button style="color: #ffd534;" fill="clear" routerLink="/marizchat">MarizchelleOnlineShop.ph</ion-button>
    <ion-label></ion-label>
    <ion-badge style="background-color: #f64f85;">3</ion-badge>
  </ion-item>
  <ion-item>
    <ion-button style="color: #ffd534;" fill="clear">JacklordShops.ph</ion-button>
    <ion-label></ion-label>
    <ion-badge  style="background-color: #f64f85;">10+</ion-badge>
  </ion-item>
  <ion-item>
    <ion-button style="color: #ffd534;" fill="clear">MichaelShop.ph</ion-button>
    <ion-label></ion-label>
    <ion-badge style="background-color: #f64f85;">4</ion-badge>
  </ion-item>
  <ion-item>
    <ion-button  style="color: #ffd534;" fill="clear">JomelShop.ph</ion-button>
    <ion-label></ion-label>
    <ion-badge style="background-color: #f64f85;">7</ion-badge>
  </ion-item>
</ion-list>

<ion-segment [scrollable]="true" value="heart">
  <ion-segment-button value="home" routerLink="/shopmenu">
    <ion-icon style="color:  #f64f85;"  name="home"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="chatbubble" routerLink="/chat">
    <ion-icon style="color:  #f64f85;"  name="chatbubble"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="cart" routerLink="/cart">
    <ion-icon style="color:  #f64f85;"  name="cart"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="ellipsis-horizontal-sharp" routerLink="/profile">
    <ion-icon style="color:  #f64f85;"  name="ellipsis-horizontal-sharp"></ion-icon>
  </ion-segment-button>
</ion-segment>