<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button  style="color:  #f64f85;"default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title></ion-title>
  <ion-button fill="clear" slot="end" routerLink="/cart">
    <ion-badge style="background-color: #fce413;" color="dark" slot="end">10</ion-badge><ion-icon style="color:  #f64f85;" slot="icon-only" name="cart"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-card  style="background-color: #f64f85;">
  <img alt="Silhouette of mountains" src="assets/sneaker.jpg" />
  <ion-card-header>
    <ion-card-title>Sneaker</ion-card-title>
    <ion-card-subtitle style="color:black">Php 5,000.00</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content style="color: white">
    Sneakers are made for exercise and sports, but they're also very popular everyday shoes because they're so comfortable
  </ion-card-content>
</ion-card>

<ion-list>
  <ion-item>
    <ion-select aria-label="Size" interface="popover" placeholder="Select Size">
      <ion-select-option value="43">43</ion-select-option>
      <ion-select-option value="44">44</ion-select-option>
      <ion-select-option value="45">45</ion-select-option>
      <ion-select-option value="46">46</ion-select-option>
      <ion-select-option value="47">47</ion-select-option>
      <ion-select-option value="48">48</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-select aria-label="color" interface="popover" placeholder="Select Color">
      <ion-select-option value="Blue">Blue</ion-select-option>
      <ion-select-option value="Green">Green</ion-select-option>
      <ion-select-option value="Red">Red</ion-select-option>
      <ion-select-option value="Yellow">Yellow</ion-select-option>
      <ion-select-option value="Pink">Pink</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>


<!--<ion-button class="btn1" routerLink="/payment">Add to Cart</ion-button>
<ion-button class="btn1" routerLink="/payment">BUY</ion-button>-->

<ion-toolbar class="tool">
  <ion-buttons slot="end">
    <ion-button shape="round" class="btn1" (click)="setOpen(true)">Add to Cart</ion-button>
<ion-alert
  [isOpen]="isAlertOpen"
  header="Successful!"
  message="Added to Cart"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>
    <ion-button shape="round" class="btn1" routerLink="/payment">BUY</ion-button>
  </ion-buttons>
</ion-toolbar>