<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button  style="color:  #f64f85;"default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title></ion-title>
</ion-toolbar>
  
<ion-content style="text-align: center; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><h1>CHAT</h1></ion-content>


  <ion-item>
    <ion-button>
    <ion-badge slot="end"></ion-badge>
    <ion-label>Hi poooooooooo</ion-label>
  </ion-button>
  </ion-item>

<ion-item>
  <ion-textarea
    placeholder="Type something here"
    [autoGrow]="true"
    value="">
  </ion-textarea>
  <ion-button fill="clear"> <ion-icon name="paper-plane-outline"  style="color: #f64f85;"></ion-icon></ion-button>
</ion-item>

