<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button  style="color:  #f64f85;"default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title></ion-title>
</ion-toolbar>

<ion-card>
  <ion-card-header style="background-color:  #f64f85;" >
    <ion-card-title>Cart</ion-card-title>
  </ion-card-header>
  <ion-card-content style="background-color:  #f64f85;">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start" >
          <img alt="Silhouette of mountains" src="assets/bola.jpg" />
        </ion-thumbnail>
        <ion-label ><ion-checkbox >Sport</ion-checkbox></ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="assets/jabee.jpg" />
        </ion-thumbnail>
        <ion-label ><ion-checkbox>Food</ion-checkbox></ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="assets/sneaker.jpg" />
        </ion-thumbnail>
        <ion-label><ion-checkbox>Sneaker</ion-checkbox></ion-label>
      </ion-item>

      <ion-item >
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="assets/pasyon.jpg" />
        </ion-thumbnail>
        <ion-label><ion-checkbox>Fashon</ion-checkbox></ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="assets/perfume.jpg" />
        </ion-thumbnail>
        <ion-label><ion-checkbox>Perfume</ion-checkbox></ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="assets/aypown.jpg" />
        </ion-thumbnail>
        <ion-label><ion-checkbox>Gadgets</ion-checkbox></ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>

<ion-toolbar class="tool">
  <ion-buttons slot="end">
<ion-button fill="solid" class="btn1" routerLink="/payment">Checkout</ion-button>
  </ion-buttons>
</ion-toolbar>
