<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button  style="color:  #f64f85;"default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title></ion-title>
  <ion-button fill="clear" slot="end" routerLink="/cart">
    <ion-badge style="background-color: #fce413;" color="dark" slot="end">10</ion-badge><ion-icon style="color:  #f64f85;" slot="icon-only" name="cart"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-card  style="background-color: #f64f85;">
  <img alt="Silhouette of mountains" src="assets/perfume.jpg" />
  <ion-card-header>
    <ion-card-title>Perfume</ion-card-title>
    <ion-card-subtitle style="color:black">Php 250.00</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content style="color: white">
    Perfumes can be defined as substances that emit and diffuse a pleasant and fragrant odor. They consist of manmade mixtures of aromatic chemicals and essential oils.
  </ion-card-content>
</ion-card>

<ion-list>
  <ion-item>
    <ion-select aria-label="Scent" interface="popover" placeholder="Select Scent">
      <ion-select-option value="Lavender">Lavender</ion-select-option>
      <ion-select-option value="Amber">Amber</ion-select-option>
      <ion-select-option value="Jasmine">Jasmine</ion-select-option>
      <ion-select-option value="Candy Cane">Candy Cane</ion-select-option>
      <ion-select-option value="Extreme">Extreme</ion-select-option>
      <ion-select-option value="Meow">Meow</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-select aria-label="ML" interface="popover" placeholder="Select ml">
      <ion-select-option value="50ml">50ml</ion-select-option>
      <ion-select-option value="105ml">105ml</ion-select-option>
      <ion-select-option value="250ml">250ml</ion-select-option>
      <ion-select-option value="500ml">500ml</ion-select-option>
      <ion-select-option value="750ml">750ml</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>


<!--<ion-button class="btn1" routerLink="/payment">Add to Cart</ion-button>
<ion-button class="btn1" routerLink="/payment">BUY</ion-button>-->

<ion-toolbar class="tool">
  <ion-buttons slot="end">
    <ion-button shape="round" class="btn1" (click)="setOpen(true)">Add to Cart</ion-button>
    <ion-alert
      [isOpen]="isAlertOpen"
      header="Successful!"
      message="Added to Cart"
      [buttons]="alertButtons"
      (didDismiss)="setOpen(false)"
    ></ion-alert>
    <ion-button shape="round" class="btn1" routerLink="/payment">BUY</ion-button>
  </ion-buttons>
</ion-toolbar>