<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button  style="color:  #f64f85;"default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title></ion-title>
</ion-toolbar>

<ion-card>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="assets/bola.jpg" />
      </ion-thumbnail>
      <ion-card-header>
      <ion-card-title>Product</ion-card-title>
    </ion-card-header>
      <ion-card-subtitle>Variation: </ion-card-subtitle>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input label="Name:" placeholder=></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input label="Address:" label-placement="fixed" placeholder=""></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input label="Contact Number:" label-placement="stacked" placeholder=""></ion-input>
  </ion-item>
  
  
  <ion-item>
    <ion-select label="Select Payment Method" placeholder="View All Methods">
      <ion-select-option value="">Cash on Delivery</ion-select-option>
      <ion-select-option value="nes">G-Cash e-Wallet</ion-select-option>
      <ion-select-option value="n64">Maya</ion-select-option>
      <ion-select-option value="ps">Credit/Debit Card</ion-select-option>
      <ion-select-option value="genesis">Installment</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-select label="Platform Voucher" placeholder="View Vouchers"> 
      <ion-select-option >Shipping Discount up to ₱900 off</ion-select-option>
      <ion-select-option >Shipping Discount up to ₱850 off</ion-select-option>
      <ion-select-option >Shipping Discount up to ₱1000 off</ion-select-option>
      <ion-select-option >Shipping Discount up to ₱600 off</ion-select-option>
      <ion-select-option >Shipping Discount up to ₱4500 off</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-toggle color="warning"> Coins cannot be redeemed </ion-toggle>
  </ion-item>
  
</ion-card>


<ion-toolbar>
<ion-buttons slot="end">
  <ion-button class="btn1" fill="solid" routerLink="/orders">Place Order</ion-button>
</ion-buttons>
</ion-toolbar>



