<ion-header >
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button  style="color:  #ece7e9;"default-href="#"></ion-back-button>
  </ion-buttons>
    <ion-title  class="btn0">Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Last Name:</ion-label>
      <ion-input type="Last Name:" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">First Name:</ion-label>
      <ion-input type="First Name:" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Middle Name:</ion-label>
      <ion-input type="Middle Name:" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="Email:" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password:</ion-label>
      <ion-input type="password:" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confirm Password:</ion-label>
      <ion-input type="Confirm Password:" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
       
        <ion-button class="btn1" type="submit"  expand="block" routerLink="/shopmenu">Sign Up</ion-button>

        
        
      </ion-col>
    </ion-row>
  </form>
</ion-content>